@model CarAds.Models.Ad

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="details-section">
    <div class="details-card">
        <div class="details-image">
            <img src="@GetFirstImage(@Model)" alt="@Model.Brand @Model.Model" />
        </div>

        <div class="details-content">
            <h1>@Model.Brand @Model.Model (@Model.Year)</h1>
            <div class="details-info">
                <p><strong>Mileage:</strong> @Model.Kilometers km</p>
                <p><strong>Fuel:</strong> @Model.Fuel</p>
                <p><strong>Price:</strong> €@Model.Price</p>
                <p><strong>Description:</strong></p>
                <p class="description-text">@Model.Description</p>
            </div>
        </div>
    </div>
</section>
<section class="comment-section">
    @* <p>User: @comment.User != null ? @comment.User.UserName : "Nepoznat korisnik"</p> *@
    <form asp-controller="Ad" asp-action="AddComment" method="post">
        <input type="hidden" name="adId" value="@Model.Id" />
        <div>
            <label for="comment">Comment:</label>
            <textarea name="commentText" id="comment" required placeholder="Unesite komentar..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj komentar</button>
    </form>
    @{
    if(Model.Comments != null && Model.Comments.Any())
    {
        <div>
            <h3>Komentari</h3>
            @foreach(var comment in Model.Comments)
            {
                <div>
                    <p>User: @comment.User.UserName</p>
                    <p>Comment: @comment.Content</p>
                    <small>Posted on: @comment.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
            }
        </div>
    }
    }
</section>


@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />

}

@functions {
    string GetFirstImage(CarAds.Models.Ad car)
    {
        if (car.Images != null && car.Images.Any())
        {
            var base64Image = Convert.ToBase64String(car.Images[0].AsByteArray);
            return $"data:image/jpeg;base64,{base64Image}";
        }
        return "";
    }
}
