@model List<CarAds.Models.Ad>
@{
    ViewData["Title"] = "All Car Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="car-listings">
    <h1>All Car Listings</h1>
    @if (Model != null && Model.Any())
    {
        <div class="grid">
            @foreach (var car in Model)
            {
                <div class="car-card">
                    <a href="@Url.Action("Details","Ad",new { id = car.Id })"><img src="@GetFirstImage(car)" class="card-img-top" alt="Car Image" width="300" height="350"></a>
                    <h2>@car.Brand @car.Model (@car.Year)</h2>
                    <div class="btn-wrap">
                        <a class="details-btn" href="/Ad/Details/@car.Id">Vehicle Details</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No listings available.</p>
    }
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/list.css" />
}

@functions {
    string GetFirstImage(CarAds.Models.Ad car)
    {
        if (car.Images != null && car.Images.Any())
        {
            var base64Image = Convert.ToBase64String(car.Images[0].AsByteArray);
            return $"data:image/jpeg;base64,{base64Image}";
        }
        return "";
    }
}
